<div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Login account</h2>
  
              <form #signInForm="ngForm" (ngSubmit)="signInForm.valid && onSubmit(signInForm)">
  
                <div class="form-outline mb-4">
                  <input type="text" #username="ngModel" [(ngModel)]="model.username" name="username"
                    id="form3Example1cg" class="form-control form-control-lg" required
                    [ngClass]="{'invalid-textbox' :signInForm.submitted && !username.valid }">
                  <label class="form-label" for="form3Example1cg">User Name</label>
                  <div *ngIf="signInForm.submitted && !username.valid">
                    <label class="validation-message">This field is required.</label>
                  </div>
                </div>
                <!-- <div class="form-outline mb-4">
                  <input type="email" #email="ngModel" [(ngModel)]="loginService.loggedinUser.email" name="email"
                    id="form3Example2cg" class="form-control form-control-lg" required
                    [ngClass]="{'invalid-textbox' :signInForm.submitted && !email.valid }">
                  <label class="form-label" for="form3Example2cg">Email</label>
                  <div *ngIf="signInForm.submitted && !email.valid">
                    <label class="validation-message">This field is required.</label>
                  </div>
                </div> -->
  
                <div class="form-outline mb-4">
                  <input type="password" #password="ngModel" [(ngModel)]="model.password" name="password"
                    id="form3Example4cg" class="form-control form-control-lg" minlength="4" required
                    [ngClass]="{'invalid-textbox' :signInForm.submitted && !password.valid }">
                  <label class="form-label" for="form3Example4cg">Password</label>
                </div>
                <div *ngIf="signInForm.submitted && password.errors">
                  <label *ngIf="password.errors['required']" class="validation-message">This field is required.</label>
                </div>
  
                <div class="d-flex justify-content-center">
                  <input type="submit" value="Sign In"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
                </div>
  
                <p class="text-center text-muted mt-5 mb-0" >Create new account. <a href="/signup">SignUp</a> here</p>
  
              </form>
              <br>
              <!-- Error message -->
              <div class="alert alert-danger" *ngIf="errorMessage" role="alert">
                {{errorMessage}}
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

