<div class="table-responsive">
    <table class='table table-sm'>
        <thead>
            <tr class="table-secondary">
                <th scope="col">Id</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Age</th>
                <th scope="col">Gender</th>
                <th scope="col">Salary</th>
                <th scope="col">Loan Amount</th>
                <th scope="col">Balance In Hand</th>
                <th scope="col">Eligible Loan amt</th>
                <th scope="col">Approved Loan</th>
                <th scope="col">Loan Dispatched</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody *ngFor="let item of userData">
            <tr>
                <td>{{item.id}}</td>
                <td>{{item.first_name}}</td>
                <td>{{item.last_name}}</td>
                <td>{{item.age}}</td>
                <td>{{item.gender}}</td>
                <td>{{item.salary}}</td>
                <td>{{item.loan_amount}}</td>
                <td>{{item.balance}}</td>
                <td>{{item.eligible_loan}}</td>
                <td *ngIf="item.dispatched==true;else approve">
                    {{item.approved_loan}}</td>
                <ng-template #approve>
                    <td>
                        <input type="number" name="approved_loan" min="0" max="10000000" step="1" [(ngModel)]="item.approved_loan">
                    </td>
                </ng-template>
                <div>
                    <td *ngIf="item.dispatched==true;else dispatch">Yes</td>
                    <ng-template #dispatch>
                        <td>
                            <select name="dispatched" [(ngModel)]="item.dispatched">
                                <option disabled>Select</option>
                                <option>Yes</option>
                                <option selected>No</option>
                            </select>
                        </td>
                    </ng-template>
                </div>
                    <td *ngIf="item.dispatched==true;else status">{{item.status}}</td>   
                <ng-template #status> 
                    <td> 
                        <select name="status" [(ngModel)]="item.status">
                            <option selected>Select</option>
                            <option>approved</option>
                            <option>rejected</option>
                     </select>&nbsp;
                    </td>
                    <input type="button" (click)="onSubmit(item)" value='update'class="btn btn-success"/>
                </ng-template>     
            </tr>
        </tbody>
        <input type="button" (click)="onLogout()" value='Logout' class="btn btn-primary"/>&nbsp;
    </table>
</div>
{{successMessage}}