<div class="table-responsive">
    <h5>Customers Loan Details:</h5>
    <form>
    <table class='table table-sm'>
        <thead>
            <tr class="table-secondary">
                <th scope="col">Id</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Age</th>
                <th scope="col">Gender</th>
                <th scope="col">Salary</th>
                <th scope="col">Loan Amount</th>
                <th scope="col">Balance In Hand</th>
                <th scope="col">Eligible Loan amt</th>
                <th scope="col">Approved Loan</th>
                <th scope="col">Loan Dispatched</th>
                <th scope="col" colspan="2">Status</th>
            </tr>
        </thead>
        <tbody *ngFor="let item of userData">
            <tr *ngIf="editBtn">
                <td>{{item.id}}</td>
                <td>{{item.first_name}}</td>
                <td>{{item.last_name}}</td>
                <td>{{item.age}}</td>
                <td>{{item.gender}}</td>
                <td>{{item.salary}}</td>
                <td>{{item.loan_amount}}</td>
                <td>{{item.balance}}</td>
                <td>{{item.eligible_loan}}</td>
                <td>{{item.approved_loan}}</td>
                <td *ngIf="item.dispatched;else dispatch">Yes</td>
                <ng-template #dispatch><td>No</td></ng-template>
                <td *ngIf="item.status;else status">{{item.status}}</td>
                <ng-template #status><td>Inprogress</td></ng-template>
                <div *ngIf="editBtn==true && item.dispatched=='' && item.status!='Rejected'">
                    <input type="button" value="Edit" class="btn btn-primary btn-sm" (click)="onEdit(item)">
                </div>
            </tr>
        </tbody>
        <tbody *ngIf="updateBtn">
            <tr>
                <td>{{record.id}}</td>
                <td>{{record.first_name}}</td>
                <td>{{record.last_name}}</td>
                <td>{{record.age}}</td>
                <td>{{record.gender}}</td>
                <td>{{record.salary}}</td>
                <td>{{record.loan_amount}}</td>
                <td>{{record.balance}}</td>
                <td>{{record.eligible_loan}}</td>
                <td *ngIf="record.status=='Approved';else changeInput"><input type="text" size="10px" [(ngModel)]="record.approved_loan" name="approved_loan" required></td>
                <ng-template #changeInput>
                    <td><input type="text" size="10px" name="approved_loan" [disabled]="record.status=='Rejected'" value="0" required></td> 
                </ng-template>
                <td>
                    <select [(ngModel)]="record.dispatched" name="dispatched" [disabled]="record.status=='Rejected'">
                        <option selected disabled hidden>select</option>
                        <option *ngIf="record.status=='Approved'">Yes</option>
                        <option>No</option>
                    </select>
                </td>
                <td colspan="2">
                    <select [(ngModel)]="record.status" name="status">
                        <option selected hidden>select</option>
                        <option>Approved</option>
                        <option>Rejected</option>
                    </select> 
                </td>
            </tr>
        </tbody>
        <br/>        
    </table>
    <div *ngIf="updateBtn">
        <button 
        (click)="onUpdate(record)" class="btn btn-primary btn-sm" name="updateBtn">Update</button>
        <button (click)="onCancel()" class="btn btn-danger btn-sm">Cancel</button>
    </div>
</form>     
    <input *ngIf="!updateBtn" type="button" (click)="onLogout()" value='Logout' class="btn btn-primary"/>
</div>
<p style="color:green;">{{successMessage}}</p>
<p style="color:red;">{{errorMessage}}</p>
